name: CI

on: 
  push:
    branches:    
      - master 

jobs:
  build:

    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [10.x, 8.x]
    
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: yarn install
      run: |
        cd ./frontend/src
        yarn install
    
      env:
        CI: true
      
    - name: yarn build
      run: |
        cd ./frontend/src
        yarn run build --if-present
    
    - name: Add remote origin
      run: |
        git remote add heroku https://heroku:${{ secrets.HEROKU_API_KEY }}@git.heroku.com/kelime-bul.git
    - name: Deploy to Heroku
      run: |
        git push heroku HEAD:master -f
