
name: CI

on:
  push:
    branches:
    - master
    paths:
      - 'backend/*'

jobs:
  build_kelimebul:
    runs-on: ubuntu-16.04
    steps:
    - uses: actions/checkout@v1
    - name: Build and deploy the Docker image
      env: 
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        APP_NAME: ${{ 'kelimebul-api' }}
      run: |
        cd .backend/src/KelimeBul.API
        docker login --username=_ --password=$HEROKU_API_KEY registry.heroku.com
        heroku container:push web -a $APP_NAME
        heroku container:release web -a $APP_NAME
